<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="md-2">
        <label for="title" class="form-label">Title</label>
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
      </div><br>
      <div class="md-2">
      <label for="title" class="form-label">Descriptation</label>
      <textarea name="listing[description]" class="form-control" required>
<%= listing.description %> </textarea
      ></div>
      <div class="md-2">
        orignal image this listing <br>
        <img src="<%= orignalUrl %>" height="200px" width="200px">
      </div>
      <br>
    <div class="md-2">
      <label for="title" class="form-label">upload new Image</label>
      <input name="listing[image]"  type="file" class="form-control" />
    </div>

      <div class="row">
      <div class="md-2 col-md-4">
        <label for="title" class="form-label">price</label>
        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
        <div class="invalid-feedback">Write price</div>
    </div>
      <div class="md-2 col-md-8">
        <label for="title" class="form-label">country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Write country</div>
    </div></div>
      <div class="md-2">
        <label for="title" class="form-label">location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Write location</div>
    </div>
      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
  </div>
</div>
  </body>
</html>